/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

/*center align all text*/
body {
	text-align: center;
}

/*make sticky and add z-index to render above other elements*/
nav {
	position: sticky;
	height: 70px;
	top: 0;
	background-color: white;
	z-index: 5;
}

/*position the logo to the left*/
.nav-logo {
	display: inline;
	position: absolute;
	left: 10%;
	top: 20px;
}

/*position nav bar menu to the right*/
.right-nav {
	float: right;
	right: 10%;
	position: relative;
	top: 25px;
}

/*make the menu items align at the top*/
li[class="nav"] {
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

/*select apply now button and format*/
.tuitt-button {
	background-color: #c2195b;
	color: white;
	padding: 7px;
	border-radius: 25px;
	border: solid white;
	position: relative;
	top: -7px;
}

/*add bg image*/
#bg-image {
	background: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
}

/*opacity for bg image*/
.front-bg {
	background-color: rgba(0,0,0,0.5);
	height: 375px;
}

/*position to the right the container*/
.container {
	width: 30%;
	left: 58%;
	position: relative;
}

/*font styles*/
.title, .title-2 {
	font-family: "Zilla Slab", serif;
	font-size: 2.5rem;
}

/*styling for hero text*/
.title {
	text-align: right;
	margin-bottom: 15px;
	color: white;
}

/*styling for subtitle*/
.subtitle {
	color: white;
	text-align: right;
	font-size: 1rem;
	position: relative;
	width: 70%;
	left: 30%;
	font-weight: normal;
	margin-bottom: 15px;
}

/*apply button*/
.apply-button {
	background-color: #c2195b;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 25px;
	border: none;
	position: relative;
	float: right;
}

.intro {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 50px;
}

.title-2 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 2rem;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 100px;
}

.book-button {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #336589;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 25px;
	border: none;
	color: white;
}

footer {
	height: 100px;
	margin-top: 10px;
	font-size: 0.9rem;
}

